@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    border: 1px solid red;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-size: 1rem;
}

.container {
    height: 90vh;
    width: 100%;
    padding-top: 70px;
}

button {
    padding: 10px;    
    border-radius: 18px;
    font-weight: 700;
    background: black;
    color: white;
}

.master-title {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* NAVBAR */

.master-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px; /* tambahkan padding top setiap section sesuai tinggi navbar */
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,0.23);
}

.master-nav .logo-nav {
    display: flex;
    align-items: center;
}

.master-nav .logo-nav img {
    height: 50px;
}

.master-nav .main-nav {
    display: flex;
    gap: 50px;
}

.master-nav .main-nav > *, .master-nav .ham-nav > * {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.master-nav .main-nav > *:hover {
    margin-top: -3px;
    padding-bottom: 3px;
    border-bottom: 3px solid white;
}

.master-nav .ham-nav {
    display: none;
}

.ham-nav .fa-times,
.ham-nav .fa-bars {
    transition: display 1s;
    /* animation: fadein 1s infinite; */
}

/* END NAVBAR */






/* HERO */
.master-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.text-hero p{
    font-weight: bold;
    font-size: 3rem;
}
.text-hero button {
    width: 30%;
}

.img-hero {
    margin-right: 20px;
}

.img-hero img {
    width: 100%;
} 

/* END HERO */






/* BENEFIT */

.master-bnfit {
    display: grid;
    grid-template-rows:.5fr 1fr;
    justify-items: center;
}

.sub-bnfit {
    display: flex;
    gap: 50px;
    align-items: center;
}

.bnfit {
    border: 5px solid white;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
    width: 15vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 13px -7px #00000038;
}

.bnfit:hover {
    box-shadow: 0px 10px 13px -7px #000000;
}

.bnfit img {
    width: 50%;
}

/* END BENEFIT */


/* DESCRIPTION */
.master-desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.text-desc {
    margin-left: 5vw;
}
.img-desc {
    width: 90%;
    display: flex;
    justify-content: center;
}

.img-desc img{
    width: 90%;
}
/* END DESCRIPTION */

/* @keyframes fadein {
    0% {
        background: blue;
    }
    100% {
        background: yellow;
    }
} */























@media (max-width: 768px) {
    body {
        font-size: .9rem;
    }

    .master-nav .ham-nav {
        display: flex;
    }

    .master-nav .ham-nav .fa-times {
        display: none;
    }

    .master-nav .main-nav {
        gap: 30px;
        display: flex;
        position: absolute;
        top: 80px;
        background: inherit;
        padding: 20px 30px;
        opacity: 0;
    }

    .main-nav.dor {
        opacity: 1;
    }


}