@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$base: rgb(250, 250, 250);
$text : black;
$highlight: #FF6DC5;

@mixin flexw($width:center) {
    display: flex;
    justify-content: $width;
}

@mixin flexh($height:center) {
    display: flex;
    align-items: $height;
}

@mixin flexdual($width:center, $height:center){
    display: flex;
    justify-content: $width;
    align-items: $height;
}

@mixin btn($bg: $highlight, $text: black){
    background: $bg;
    color: $text;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    border: 0px;
    box-shadow: 0px 10px 13px -8px #0000005e;
}

* {
    // border: 1px solid red;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.section {
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-weight: bold;
    font-size: 1.2rem;
}

.master-nav {
    @include flexw(space-around);
    padding: 10px 0 10px 0;
    background: $highlight;
    width: 100vw;
    img {
        width: 50px;
    }
    .menu-nav {
        @include flexh();
        gap: 20px;
        a {
            text-decoration: none;
            color: $text;
        }
    }
}


.master-boomer {
    @include flexw(space-around);
    .one-boomer {
        @include flexw();
        flex-direction: column;
        .text-boomer {
            font-size: 3rem;
            font-weight: bold;
        }
        .btn-boomer {
            @include btn();
            width: 20%;
        }
    }
    .two-boomer {
        @include flexdual();
        img {
            width: 90%;
        }
    }

}


.master-mini {
    @include flexw();
    gap: 30px;
    .one-mini, .two-mini, .three-mini {
        background: #c1ffc1;
        width: 28vw;
        border-radius: 20px;
        padding: 25px;
        .icon-mini {
            background: white;
            width: 80px;
            height: 80px;
            border-radius: 20px;
            @include flexdual()
        }
    }
    .two-mini {
        background: plum;
    }
    .three-mini {
        background: lightblue;
    }
}



.master-benefit {
    @include flexdual();
    flex-direction: column;
    .content-benefit {
        padding: 0 20px 0 20px;
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        place-items: center;
        .one-benefit, .three-benefit {
            @include flexw();
            flex-direction: column;
            gap: 50px;
        }
    }

}













// will be applied on screen lower than 800px
@media (max-width: 800px) {
    
}
