@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.section {
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-weight: bold;
  font-size: 1.3rem;
}

.master-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0 10px 0;
  background: #FF6DC5;
  width: 100vw;
}

.master-nav img {
  width: 50px;
}

.master-nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.master-nav .menu-nav a {
  text-decoration: none;
  color: black;
}

.master-boomer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.master-boomer .one-boomer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.master-boomer .one-boomer .text-boomer {
  font-size: 3rem;
  font-weight: bold;
}

.master-boomer .one-boomer .btn-boomer {
  background: #FF6DC5;
  color: black;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  border: 0px;
  -webkit-box-shadow: 0px 10px 13px -8px #0000005e;
          box-shadow: 0px 10px 13px -8px #0000005e;
}

.master-boomer .two-boomer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.master-boomer .two-boomer img {
  width: 90%;
}

.master-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.master-mini .one-mini, .master-mini .two-mini, .master-mini .three-mini {
  background: #c1ffc1;
  width: 28vw;
  border-radius: 20px;
  padding: 25px;
}

.master-mini .one-mini .icon-mini, .master-mini .two-mini .icon-mini, .master-mini .three-mini .icon-mini {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.master-mini .two-mini {
  background: plum;
}

.master-mini .three-mini {
  background: lightblue;
}

.master-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.master-benefit .content-benefit {
  padding: 0 20px 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 1fr .5fr;
      grid-template-columns: .5fr 1fr .5fr;
  place-items: center;
}

.master-benefit .content-benefit .one-benefit, .master-benefit .content-benefit .three-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.master-plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right top, from(#eeaeca), to(#94bbe9));
  background: linear-gradient(90deg, #eeaeca 0%, #94bbe9 100%);
}

.master-plans .content-plans {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.3fr 1fr;
      grid-template-columns: 1fr 1.3fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.master-plans .content-plans .one-plan, .master-plans .content-plans .two-plan, .master-plans .content-plans .three-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 55vh;
  padding: 20px;
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.2) 0%, rgba(236, 236, 236, 0.7) 100%);
  border: 3px solid #ffffff8c;
  border-radius: 30px;
}

.master-plans .content-plans .one-plan .price, .master-plans .content-plans .two-plan .price, .master-plans .content-plans .three-plan .price {
  font-size: 2rem;
  font-weight: bold;
}

.master-plans .content-plans .best {
  font-size: 1.3rem;
}

.master-plans .content-plans .best .price {
  font-size: 3rem;
}

.master-testi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right top, from(#94bbe9), to(#eeaeca));
  background: linear-gradient(90deg, #94bbe9 0%, #eeaeca 100%);
}

.master-testi .content-testi .testi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 30px;
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.2) 0%, rgba(236, 236, 236, 0.7) 100%);
  border: 3px solid #ffffff8c;
  border-radius: 30px;
}

.master-testi .content-testi .testi img {
  width: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}

.master-testi .content-testi .testi .text-testi {
  max-width: 500px;
}
/*# sourceMappingURL=style.css.map */